* {
    margin: 10px 5px 10px 5px;
    padding: 0;
    color: orangered;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
}


.div_table_news {
    display: grid;
}

table tr, td, th{
    border: 1px solid ;
    padding: 10px 10px 10px 10px
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.Action_for_name button {
    padding: 10px 20px 10px 20px;
    border: 1px orangered solid;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.Action_for_photo button{
    padding: 10px 20px 10px 20px;
    border: 1px orangered solid;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.Action_for_photo img {
    height: 100px;
    width: 150px;
}

